body {
  background-color: #f6f6f6;
  color: #131313;
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  min-height: 100vh;
}

main {
  flex: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

a {
  color: inherit;
}

.desktop {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.desktopTop {
  color: white;
  background-image: url("../img/background.png");
  width: 100%;
  height: 243px;
  top: 0;
  text-align: center;
}

.desktopTop h1 {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #d5d5d5;
  margin-top: 40px;
}

.desktopTop p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #d5d5d5;
  font-size: 15px;
  line-height: 20px;
}

#version {
  margin-top: 57px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #8d8d8d;
}

.desktopBottom {
  background-color: #464646;
  width: 100%;
  flex: 1;
  display: flex;
  padding: 67px 0px;
}

.desktopBottom > #left {
  flex: 1 1 30%;
}

.desktopBottom > #left > h1 {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin: 0px 57px;
  color: #d5d5d5;
}

.desktopBottom > #middle {
  flex: 1 1 40%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #8d8d8d;
}

.desktopBottom > #right {
  flex: 1 1 30%;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 12px;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.button2 {
  background-color: #ff0000; /* Red */
  border: none;
  border-radius: 12px;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

#ad {
  display: inline-block;
  margin-right: 10px;
}
